{% extends "base.html" %}
{% block content %}

<table class="table table-striped table-bordered table-condensed">
    <tr>
    	<td><b>State</b></td>
    	<td><b>Company</b></td>
    	<td><b>Phone</b></td>
    	<td><b>Email</b></td>
    	<td><b>QRCode</b></td>
    	<td><b>Options</b></td>
    </tr>
    	
    {% for serial in serials %}
    <tr>
        <td>
            <span class="label label-success">Active</span>
            <p> 0/{{serial.quantity}} </p>
        </td>
        
        <td>
        	<p><b>{{serial.company.name}}</b></p><p>{{serial.company.description}}</p>
        </td>
        
        <td>
            <p><b>{{serial.company.phone}}</b></p>
        </td>
        
        <td>
            <p><b>{{serial.company.email}}</b></p>
        </td>
        
        <td>
        	<a href="serial/{{serial.id}}">
			<img src='http://chart.apis.google.com/chart?chs=150x150&cht=qr&chl={{serial.key}}&choe=UTF-8' />
        </td>
        
        <td>
            <p><button class="btn" onClick="parent.location='edit/{{serial.company_id}}'">Edit</button></p>
            <p><button class="btn" onClick="parent.location='upload'">Upload</button></p>
            <p><button class="btn" >Deactivate</button></p>
        </td>
    </tr>
    {% endfor %}
</table>
<button class="btn" onClick="parent.location='add'">Add+</button>

{% endblock %}

