{% extends "base.html" %}
{% block content %}
<table class="table table-striped table-bordered table-condensed">
    <tr>
    	<td><b>id</b></td>
    	<td><b>Email</b></td>
    	<td><b>Time</b></td>
    	<td><b>Option</b></td>
    </tr>
    	
    {% for user in Users %}
    <tr>
        <td>
            <p> {{user.id}} </p>
        </td>
        
        <td>
        	<p><b>{{user.email}}</b></p>
        </td>
        
        <td>
            <p><b>{{user.timestamp}}</b></p>
        </td>
        
        <td>
            <p><button class="btn" >Delete</button></p>
        </td>
    </tr>
    {% endfor %}
</table>

<button class="btn" onClick="window.location.reload()">Refresh</button>

{% endblock %}

